* {
  font-family: sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: grid;
  grid-template-rows: auto auto 1fr;
  place-items: center;
}

form {
  box-sizing: border-box;
  display: grid;
  font-size: 1.5rem;
  height: 100%;
  row-gap: 2vh;
  padding: 2vh 0;
  width: 60%;
}

select {
  font-size: 1.25rem;
}

output {
  background-color: rgb(255, 204, 0);
  display: inline-block;
  padding: 0 5px;
}

p {
  font-size: 1.5rem;
  margin: 0;
}

video {
  box-sizing: border-box;
  border: 2px solid red;
  height: 60dvh;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

select-stepper:not(:defined) select {
  height: 100%;
  text-align: center;
  width: 100%;
}